provider "kubernetes" {
  config_context = "default"
  config_path    = "{{ playbook_dir }}/k3s.yaml"
}

{% for namespace in namespaces %}
resource "kubernetes_namespace" "{{ namespace }}" {
  metadata {
    name = "{{ namespace }}"
  }
}
{%endfor%}